@import 'bootstrap';
@import 'bootstrap-sprockets';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 0 1em;
  flex-direction: row;
}

.navbar > ul {
  flex-direction: row;
  gap: 1em;
}

.navbar-brand:hover,
.navbar-brand:focus {
  background-color: white;
}

.navbar a {
  margin-right: auto;
  font-weight: 700;
}

.navbar ul {
  padding-top: 0.75em;
}

.card-columns {
  --auto-grid-min-size: 15em;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 2em;
}

.gallery--image {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.8s ease-in-out;
  width: 100%;
  overflow: hidden;
}

.gallery--image:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.card {
  width: 200px;
}

.fa {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 1em;
  border: none;
  transition: all 1s ease;
}

.fa:hover {
  background-color: #337ab7;
}
